@model IEnumerable<MovieTickets.Domain.Domain.Movie>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All Movies</h1>

<p>
    <a asp-action="Create">Add New Movie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieGenre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@item.MovieImage" style="height:15rem" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieGenre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
