@model IEnumerable<MovieTickets.Domain.Domain.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var total = 0.0;
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                User
            </th>
            <th>
                Tickets
            </th>
            <th>
                Total
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Owner.FirstName @item.Owner.LastName
                </td>
                <td>
                    <ol>
                        @{
                            total = 0.0;
                        }
                        @foreach(var t in item.TicketsInOrders)
                        {
                            total += t.MovieTicket.TicketPrice * t.quantity;
                            <li>
                                @t.MovieTicket.Movie.MovieName at @t.MovieTicket.MovieDateTime, @t.quantity x $@t.MovieTicket.TicketPrice
                            </li>
                        }
                    </ol>
                </td>
                <td>
                    $@total
                </td>
                <td>
                    <a asp-action="generateInvoice" asp-route-id="@item.Id" class="btn btn-primary">Generate invoice</a>
                </td>
            </tr>
        }
    </tbody>
</table>
