@model MovieTickets.Domain.Domain.MovieTicket

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>MovieTicket</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.MovieName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.MovieName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieDateTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
